.parcc {
  font-size: 16px;
  line-height: 24px; }
.parcc label {
  font-size: 16px;
  line-height: 24px; }
.parcc input[type=text] {
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  margin-bottom: 0;
  margin-top: 0; }
.parcc .int-choice-control {
  padding-top: 5px; }
.parcc .int-choice-control input[type=checkbox] {
  margin-top: 2px; }
.parcc .author {
  font-weight: normal;
  text-align: center;
  font-style: normal; }
.parcc .directions-passage {
  font-weight: normal;
  text-align: left; }
.parcc .boxText {
  border: 1px solid #000000; }
.parcc blockquote.parcc p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px; }
.parcc .copyright-tm {
  line-height: 18px;
  color: #666666; }
.parcc .input-append.input-charmap {
  vertical-align: baseline; }
.parcc button.btn-input-charmap {
  padding: 4px 6px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
.parcc .grid-wrapper input[type=text] {
  height: 20px;
  width: 16px;
  line-height: 24px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 2px 1px 2px 8px; }
.play {
  padding-left: 30px;
  position: relative; }
.play .number {
  position: absolute;
  left: 0; }
				
.context {
	margin-top: 1em; }
.context:first-child {
	margin-top: 0; }
.context_passage span.flag {
	position: absolute;
	left: 0;
	color: #555;
	font-weight: bold; }
.context_passage.with_gutter {
	padding-left: 50px; }
.math {
	margin: 0 3px;
	vertical-align: center; }