<p>An example of mapping a QTI `choiceInteraction` assessment item (choice.xml) at
    <a target="_blank" href="http://www.imsglobal.org/question/qtiv2p1/examples/items/choice.xml">http://www.imsglobal.org/question/qtiv2p1/examples/items/choice.xml</a>
    to Learnosity Item and Question with `mcq` question type.
</p>
<div class="panel" style="word-wrap: break-word">
    <pre>{
    "reference": "choice",
    "status": "published",
    "questionReferences": [
        "choice_RESPONSE"
    ],
    "description": "Unattended Luggage",
    "content": "&lt;p&gt;Look at the text in the picture.&lt;/p&gt;&lt;p&gt;&lt;img src=\&quot;images/sign.png\&quot; alt=\&quot;NEVER LEAVE LUGGAGE UNATTENDED\&quot;/&gt;&lt;/p&gt;&lt;span class=\&quot;learnosity-response question-choice_RESPONSE\&quot;&gt;&lt;/span&gt;"
}</pre>
</div>
<div class="panel" style="word-wrap: break-word">
    <pre>[
    {
        "reference": "choice_RESPONSE",
        "type": "mcq",
        "data": {
            "stimulus": "What does it say?",
            "type": "mcq",
            "validation": {
                "scoring_type": "exactMatch",
                "valid_response": {
                    "score": 1,
                    "value": [
                        "ChoiceA"
                    ]
                }
            },
            "options": [
                {
                    "label": "You must stay with your luggage at all times.",
                    "value": "ChoiceA"
                },
                {
                    "label": "Do not let someone else look after your luggage.",
                    "value": "ChoiceB"
                },
                {
                    "label": "Remember your luggage when you leave.",
                    "value": "ChoiceC"
                }
            ],
            "shuffle_options": false
        }
    }
]</pre>
</div>
